<a href="https://colab.research.google.com/github/kahiga2244/week-4-ip/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_04_04_JOSEPH_KAHIGA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#First we import the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

In [347]:
# Let's read the data from the CSV file and create the dataframe to be used
 df = pd.read_csv('Autolib_dataset (2).csv')
 df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [348]:
# Let's preview the first 5 rows of our data
# 
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [349]:
# we first get to know more about the dataset by accessing its information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [350]:
#making the columns lower case,whitespaces, replacing 
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
df.head(5)

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [351]:
#looking for null values
df.isnull()
df.isnull().sum()

address                   0
cars                      0
bluecar_counter           0
utilib_counter            0
utilib_1.4_counter        0
charge_slots              0
charging_status           0
city                      0
displayed_comment      4889
id                        0
kind                      0
geo_point                 0
postal_code               0
public_name               0
rental_status             0
scheduled_at           4953
slots                     0
station_type              0
status                    0
subscription_status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [352]:
#describing data
df.describe()

              cars  bluecar_counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [353]:
#dropping all null values
df.drop(['displayed_comment','scheduled_at','subscription_status','status','geo_point'] ,axis=1, inplace=True)
df.head(5)

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 20 columns]

In [354]:
# filling missing value using fillna()   
df.fillna(0)

                                 address  cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 20 columns]

In [291]:
#What is the most popular hour for returning cars
x = df[(df['city'] == 'Paris') & (df['cars'] == 0)]
df = x.groupby(['hour']).size().sort_values(ascending=False)
df.head()

hour
2     54
21    52
3     52
16    50
23    49
dtype: int64

In [303]:
#What station is the most popular?
a = df[(df['hour'] == 2)]
df = a.groupby(['public_name']).size().sort_values(ascending=False)
df.head(7)

public_name
Courbevoie/Paix/2                   3
Saint-Ouen/Louis Blanc/35           3
Paris/Goubet/8                      2
Suresnes/Salomon de Rothschild/3    2
Paris/Censier/14                    2
Montreuil/Pierre Brossolette/61     2
Rueil-Malmaison/Richelieu/3         2
dtype: int64

In [314]:
#What station is the most popular?
#At the most popular picking hour?
x = df[(df['hour'] == 2)]
df= x.groupby(['public_name']).size().sort_values(ascending=False)
df.head(7)

public_name
Courbevoie/Paix/2                   3
Saint-Ouen/Louis Blanc/35           3
Paris/Goubet/8                      2
Suresnes/Salomon de Rothschild/3    2
Paris/Censier/14                    2
Montreuil/Pierre Brossolette/61     2
Rueil-Malmaison/Richelieu/3         2
dtype: int64

In [324]:
#What postal code is the most popular for picking up Blue cars?
x = df[(df['cars'] == 0 ) & (df['slots'] > 0)]
df = x.groupby('postal_code').size().sort_values(ascending=False)
df.head(1)

postal_code
75008    85
dtype: int64

In [335]:
#At the most popular picking hour?
x = df[(df['cars'] == 0 ) & (df['slots'] > 0) & (df['hour'] == 2) & (df['postal_code'] == 75008)]
df = x.groupby('public_name').size().sort_values(ascending=False)
df

public_name
Paris/Friedland/42        1
Paris/FranÃ§ois 1er/38    1
Paris/Francois 1er/7      1
Paris/Dutuit/1            1
Paris/Batignolles/9       1
Paris/Artois/11           1
dtype: int64

In [344]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
x = df[(df['city'] == 'Paris') & (df['utilib_1.4_counter'] == 0)]
df = x.groupby(['hour']).size().sort_values(ascending=False)
df.head()

hour
21    129
8     120
2     116
16    115
3     112
dtype: int64

In [356]:
#Do the results change if you consider Utilib instead of Blue cars? 
df[(df['city'] == 'Paris') & (df['utilib_counter'] == 0)]
pophr = x.groupby(['hour']).size().sort_values(ascending=False)
pophr.head()

hour
21    129
8     120
2     116
16    115
3     112
dtype: int64

In [0]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
df.groupby(['day','hour'])['day'].max().sort_values(ascending=False)

KeyError: ignored