<a href="https://colab.research.google.com/github/kahiga2244/week-4-ip/blob/master/Moringa_Data_Science_Prep_W3_Independent_Project_2020_04_04_JOSEPH_KAHIGA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#First we import the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

In [152]:
# Let's read the data from the CSV file and create the dataframe to be used
 df = pd.read_csv('Autolib_dataset (2).csv')
 df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [153]:
# Let's preview the first 5 rows of our data
# 
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [154]:
# we first get to know more about the dataset by accessing its information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [155]:
#making the columns lower case,whitespaces, replacing 
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')
df.head(5)

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [156]:
#looking for null values
df.isnull()
df.isnull().sum()

address                   0
cars                      0
bluecar_counter           0
utilib_counter            0
utilib_1.4_counter        0
charge_slots              0
charging_status           0
city                      0
displayed_comment      4889
id                        0
kind                      0
geo_point                 0
postal_code               0
public_name               0
rental_status             0
scheduled_at           4953
slots                     0
station_type              0
status                    0
subscription_status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [157]:
#describing data
df.describe()

              cars  bluecar_counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [164]:
#dropping all null values
df.drop(['displayed_comment','scheduled_at','subscription_status','status','geo_point'] ,axis=1, inplace=True)
df.head(5)

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 20 columns]

In [160]:
# filling missing value using fillna()   
df.fillna(0)

                                 address  cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [165]:
x = df[(df['city'] == 'Paris') & (df['bluecar_counter'] > 0)]
df = x.groupby(['hour']).size().sort_values(ascending=False)
df

hour
21    95
12    90
6     81
9     80
13    80
10    80
15    79
8     79
17    78
16    78
19    75
18    75
5     74
7     73
3     73
11    70
22    69
2     69
4     68
0     68
23    67
1     64
20    63
14    59
dtype: int64

In [76]:
#What is the most popular hour for returning cars?
df['hour'].max()

23

In [121]:
#What station is the most popular?
df.groupby(['Address','Kind'])['Address'].count().sort_values(ascending=False).head(1)

Address                            Kind
8 Avenue de la Porte de Montrouge  STATION    13
Name: Address, dtype: int64

In [120]:
#What station is the most popular?
#At the most popular picking hour?
df.groupby(['Public name','hour'])['Public name'].max().sort_values(ascending=False).head(1)

Public name                hour
Ãpinay-sur-Seine/Foch/53  23      Ãpinay-sur-Seine/Foch/53
Name: Public name, dtype: object

In [117]:
#What postal code is the most popular for picking up Blue cars?
df.groupby(['Cars','Postal code'])['Postal code'].max().sort_values(ascending=False)

Cars  Postal code
1     95880          95880
2     95880          95880
3     95880          95880
0     95880          95880
6     95880          95880
                     ...
4     75001          75001
1     75001          75001
2     75001          75001
3     75001          75001
0     75001          75001
Name: Postal code, Length: 641, dtype: int64

In [122]:
#At the most popular picking hour?
df.groupby(['Postal code','hour'])['Postal code'].max().sort_values(ascending=False).head(1)

Postal code  hour
95880        23      95880
Name: Postal code, dtype: int64

In [123]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 
df.groupby(['Utilib 1.4 counter','Postal code'])['Postal code'].max().sort_values(ascending=False)

Utilib 1.4 counter  Postal code
0                   95880          95880
1                   95880          95880
0                   95870          95870
                    95100          95100
1                   95100          95100
                                   ...
                    75002          75002
2                   75002          75002
1                   75001          75001
2                   75001          75001
0                   75001          75001
Name: Postal code, Length: 217, dtype: int64

In [126]:
#Do the results change if you consider Utilib instead of Blue cars? 
df.groupby(['Utilib counter','Postal code'])['Postal code'].max().sort_values(ascending=False)

Utilib counter  Postal code
2               95880          95880
0               95880          95880
1               95880          95880
0               95870          95870
1               95100          95100
                               ...
0               75003          75003
1               75002          75002
0               75002          75002
1               75001          75001
0               75001          75001
Name: Postal code, Length: 191, dtype: int64

In [129]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
df.groupby(['month','hour'])['month'].max().sort_values(ascending=False)

month  hour
4      23      4
       22      4
       1       4
       2       4
       3       4
       4       4
       5       4
       6       4
       7       4
       8       4
       9       4
       10      4
       11      4
       12      4
       13      4
       14      4
       15      4
       16      4
       17      4
       18      4
       19      4
       20      4
       21      4
       0       4
Name: month, dtype: int64